body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body > header,
body > main {
  display: inline-block;
  width: 1000px;
  margin-left: calc(50% - 500px);
  margin-top: 20px;
}

header > img {
  float: left;
  height: 46px;
}

header > nav {
  float: right;
  margin-top: 13px;
}

body > header > nav > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  margin-left: 20px;
}
nav > a:hover {
  color: red;
  border-bottom: 2px solid red;
}

nav > a:first-child {
  background-color: yellow;
}

body > main {
  margin-top: 100px;
}

main:hover {
  background-color: lightgoldenrodyellow;
}

main > div {
  width: 45%;
  float: left;
  padding-right: 10%;
}
div > h1 {
  font-weight: normal;
  font-family: cursive;
  margin-bottom: 10px;
}
h1 > span {
  color: rgb(255, 70, 34);
}

div > p {
  margin-right: 10%;
  margin-bottom: 25px;
}
div > a {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  text-decoration: none;
  background-color: rgb(255, 70, 34);
  border-radius: 5px;
}

main > img {
  width: 550px;
  height: 400px;
  float: left;
  object-fit: contain;
  object-position: center;
}
